# Mark Dart as the primary language
*.dart linguist-detectable=true

# Ignore Flutter build outputs
pubspec.lock linguist-generated

#ignore certain languages from detection
CMakeLists.txt linguist-vendored
*.c linguist-vendored
*.cpp linguist-vendored
*.cmake linguist-vendored
